.qa-worker-error.log
.qa-worker.log
.wrangler-dev.log
.wrangler-live-error.log
.wrangler-live.log
.wrangler-ui-error.log
.wrangler-ui.log
.wrangler-view-error.log
.wrangler-view.log
node_modules/
.wrangler/
.dev.vars
.dev.vars.*
!.dev.vars.example
.env
.env.*
!.env.example
dist/
coverage/
public/assets/
public/index.html
*.map
*.log
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform/
.DS_Store
infra/node/rclone.conf
